*{
    background-color: black;
}

.heading{
    color: white;
    text-align: center;
    
}

#image{
    border: 5px solid white;
}

.box{
    align-items: center;
    text-align: center; 
    padding: 20px;
}

